{% extends "base.html.twig" %}

{% block title %} Blog {% endblock %}

{% block body %}
    {% for post in posts %}
        <div class="row post">
            <div class="col-auto author">[juliaaan1@home]</div>
            <div class="col-auto tag">/</div>
            <div class="col-auto title">{{ post.title }}</div>
            <div class="text">{{ post.text }}</div>
        </div>
    {% endfor %}
{% endblock %}